{% extends "layout.html" %}

{% block title %}TelloBoard{% endblock %}

{% block content %}

<script>
    function update_state() {
        $.ajax("api/state", {
            type: "GET"
        }).done(function(received_data) {
            var dict = JSON.parse(received_data);

            var battery = dict["bat"] + " %"
            $("#battery").html(battery);

            var angle = "pitch=" + dict["pitch"] + ", roll=" + dict["roll"] + ", yaw=" + dict["yaw"];
            $("#angle").html(angle);

            var speed = "x=" + dict["vgx"] + ", y=" + dict["vgy"] + ", z=" + dict["vgz"];
            $("#speed").html(speed);

            var acceleration = "x=" + dict["agx"] + ", y=" + dict["agy"] + ", z=" + dict["agz"];
            $("#acceleration").html(acceleration);

            temph = Math.round((parseInt(dict["temph"]) - 32) / 1.8)
            templ = Math.round((parseInt(dict["templ"]) - 32) / 1.8)
            var themal = "min=" + templ + "℃, max=" + temph + "℃";
            $("#themal").html(themal);

            var height = dict["h"] + " cm  (baro: " + dict["baro"] + " cm)";
            $("#height").html(height);

            var time = dict["time"] + " sec";
            $("#time").html(time);

            var tof = dict["tof"] + " cm";
            $("#tof").html(tof);


        }).fail(function() {
            console.log("Fail");
        });
    }
    
    window.onload = async function() {
        const sleep = ms => new Promise(resolve => setTimeout(resolve, ms));
        var isBusy = false;
        while (true) {
            if (! isBusy) {
                isBusy = true;
                update_state();
                isBusy = false;
                await sleep(1000);
            }
        }
    };
</script>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light vh-100 sidebar collapse">
            <!--サイドバー-->
            <style>
                .controller-box {
                    text-align: center;
                }
            </style>
            
            <script>
                function sendCommand(command, params={}) {
                    console.log({action: 'sendcommand', command: command, params: params})
                    params['command'] = command
                    $.post("/api/command/", params).done(function (json) {
                        console.log({action: 'sendCommand', json: json})
                    }, 'json')
                }

                $(document).on('pageinit', function() {
                    $('#slider-speed').on("slidestop", function(event) {
                        let params = {
                            speed: $("#slider-speed").val(),
                        }
                        sendCommand('speed', params)
                    })
                })
            </script>
            
            <div class="controller-box pt-4">
                <h3>Controller</h3>
            </div>
            
            <div class="controller-box">
                <div class="btn-group py-2" role="group" aria-label="Basic outlined example">
                    <button type="button" class="btn btn-outline-primary" onclick="sendCommand('takeOff'); return false">Take Off</button>
                    <button type="button" class="btn btn-outline-primary" onclick="sendCommand('land'); return false">Land</button>
                </div>
            </div>
            <div style="display: flex; justify-content: center;" class="py-2">
                <table class="text-center">
                    <td class="px-2">
                        <div class="text-center">
                            <div class="ui-nodisc-icon ui-alt-icon">
                                <button type="button" class="btn btn-outline-primary" onclick="sendCommand('up'); return false;">
                                    <i class="bi bi-chevron-double-up"></i>
                                </button>
                            </div>
                            <div class="ui-nodisc-icon ui-alt-icon">
                                <button type="button" class="btn btn-outline-primary" onclick="sendCommand('turnLeft'); return false;">
                                    <i class="bi bi-arrow-clockwise"></i>
                                </button>
                                <button type="button" class="btn btn-outline-primary" onclick="sendCommand('turnRight'); return false;">
                                    <i class="bi bi-arrow-counterclockwise"></i>
                                </button>
                            </div>
                            <div class="ui-nodisc-icon ui-alt-icon">
                                <button type="button" class="btn btn-outline-primary" onclick="sendCommand('down'); return false;">
                                    <i class="bi bi-chevron-double-down"></i>
                                </button>
                            </div>
                        </div>
                    </td>
            
                    <td class="px-2">
                        <div style="text-align: center;">
                            <div class="ui-nodisc-icon ui-alt-icon">
                                <button type="button" class="btn btn-outline-primary" onclick="sendCommand('forward'); return false;">
                                    <i class="bi bi-arrow-up"></i>
                                </button>
                            </div>
                            <div class="ui-nodisc-icon ui-alt-icon">
                                <button type="button" class="btn btn-outline-primary" onclick="sendCommand('left'); return false;">
                                    <i class="bi bi-arrow-left"></i>
                                </button>
                                <button type="button" class="btn btn-outline-primary" onclick="sendCommand('right'); return false;">
                                    <i class="bi bi-arrow-right"></i>
                                </button>
                            </div>
                            <div class="ui-nodisc-icon ui-alt-icon">
                                <button type="button" class="btn btn-outline-primary" onclick="sendCommand('back'); return false;">
                                    <i class="bi bi-arrow-down"></i>
                                </button>
                            </div>
                        </div>
                    </td>
                </table>
            </div>
        </nav>
        <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
            <div class="accordion" id="accordionPanelsStayOpen">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingCamera">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseCamera" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseCamera">
                            Camera
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseCamera" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                        <div class="accordion-body text-center">
                            <!--ドローンカメラ映像-->
                            <img src="/video/streaming" class="img-thumbnail" 
                                width="400" height="300">
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingStatus">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseStatus" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseStatus">
                            Status
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseStatus" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingStatus">
                    <div class="accordion-body">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row"></i><i class="bi bi-command"></i></th>
                                    <td><div id="angle"></div></td>
                                    <th scope="row"><i class="bi bi-battery"></i></th>
                                    <td><div id="battery"></div></td>
                                </tr>
                                <tr>
                                    <th scope="row"><i class="bi bi-speedometer"></i></th>
                                    <td><div id="speed"></div></td>
                                    <th scope="row"><i class="bi bi-clock"></i></th>
                                    <td><div id="time"></div></td>
                                </tr>
                                <tr>
                                    <th scope="row"><i class="bi bi-fast-forward-circle"></i></th>
                                    <td><div id="acceleration"></div></td>
                                    <th scope="row"><i class="bi bi-map"></i></th>
                                    <td><div id="tof"></div></td>
                                </tr>
                                <tr>
                                    <th scope="row"><i class="bi bi-arrow-bar-up"></i></th>
                                    <td><div id="height"></div></td>
                                    <th scope="row"><i class="bi bi-thermometer"></i></th>
                                    <td><div id="themal"></div></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                  </div>
                </div>
              </div>
        </main>
    </div>
</div>

{% endblock %}